body {
  background-color: #E0FFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
button[data-fighter-id] {
  
    border-radius: 10px;
   
  
   background-color:  #E0FFFF;
  border: none;
  font-weight: bold;
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}
